<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="camera_rgb_topic" default="/camera/color/image_raw"/>
    <node name="find_object_2d_node" pkg="find_object_2d" type="find_object_2d" output="screen">
        <remap from="image" to="$(arg camera_rgb_topic)"/>
        <param name="gui" value="true" type="bool"/>
        <param name="session_path" value="$(find my_object_recognition_pkg)/sessions/one_beer.bin" type="str"/>
        <param name="setting_path" value="~/.ros/find_object_2d.ini" type="str"/>
    </node>
</launch>
